<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Restaurant recommendations in Indonesia" />
	<title>El-Resto App</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<a href="#content" class="skip-link">Skip To Main Content</a>
	<header>
		<div class="header">
			<button class="menu-btn" id="menuButton" aria-label="navigation-menu">
				<i class="fa-solid fa-bars"></i>
			</button>
			<div class="brand">
				<h1><a href="/">El-Resto</a></h1>
			</div>
			<nav id="menu">
				<li><a href="/">Home</a></li>
				<li><a href="#">Favorite</a></li>
				<li>
					<a href="https://www.linkedin.com/in/surya-maulana-saputra-93a306136/">About Us</a>
				</li>
			</nav>
			<form id="searchForm" role="search">
				<input type="search" placeholder="Search Resto..." aria-label="Search" id="searchKeyword" />
				<button id="searchButton" type="submit">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</form>
		</div>
	</header>
	<main>
		<section class="hero">
			<div class="hero-title">
				<h2>Find Your Most Favorite Resto</h2>
				<p>Explore the restautant from all over Indonesia.</p>
			</div>

			<img src="./images/heros/hero-image_2.jpg" alt="Hero Background Image" />
		</section>

		<section class="container">
			<div class="section-title" id="content">
				<h3>Explore Restaurant</h3>
			</div>
			<div class="list" id="listResto"></div>
		</section>
	</main>
	<footer>
		<div class="social-link">
			<a class="button" target="_blank" href="https://www.instagram.com/suryaa_saputra/">
				<i class="fab fa-instagram"></i></a>

			<a class="button" target="_blank" href="https://www.linkedin.com/in/surya-maulana-saputra-93a306136/">
				<i class="fab fa-linkedin"></i></a>

			<a class="button" target="_blank" href="https://github.com/suryaasaputra">
				<i class="fab fa-github"></i></a>
		</div>
		<div class="copyright">Copyright © 2022 - Resto App</div>
	</footer>
</body>

</html>